<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-md-2">
        <!-- sidebar content -->
      <p>
       Search:
       <input ng-model="$ctrl.query" />
     </p>
     <p>
       Sort by:
       <select ng-model="$ctrl.orderProp">
         <option value="name">Alphabetical</option>
         <option value="age">Newest</option>
         <option value="-age">Oldest</option>
       </select>
       </p>
      <p>
       Show data in json:
       <input type="checkbox" ng-model="$ctrl.showDataJson">
     </p>
    </div>

    <div class="col-xs-8 col-md-10">
      <pre ng-show="$ctrl.showDataJson">{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>

      <ul class="phones" ng-hide="$ctrl.showDataJson">
        <li ng-repeat="phone in $ctrl.phones | filter: $ctrl.query | orderBy: $ctrl.orderProp" class="thumbnail phone-list-item">
          <a href="#!/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
          </a>
          <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
          <p>Age: {{phone.age}}</p>
        </li>
      </ul>

      <p>Total number of phones: {{ $ctrl.phones.length }}</p>
  </div>
</div>
</div>
